<%- include('partials/header') %>

    <main class="container" id="add">
        <form action="/add" method="post">
            <h1>Add a question</h1>
            <select name="category" id="category" required>
                <option value="">-- Please choose a category --</option>
                <option value="Aptitude Test">Aptitude Test</option>
                <option value="Skill-based Test">Skill-based Test</option>
            </select>

            <select name="field" id="field">
            </select>

            <label for="">Question</label>
            <textarea name="question" id="" cols="30" rows="4" required></textarea>
            <label for="">Image URL</label>
            <input type="text" name="imageURL" id="">
            <div id="choices">
                <label for="">Choices</label>
                <span id="add-choice"><img src="/images/plus.png" alt="">Add a choice</span>
            </div>
            <input type="hidden" name="answer" value="" id="answer">
            <input type="submit" value="Save">
        </form>
    </main>

    <script src="/js/add_choice.js"></script>
  
<%- include('partials/footer') %>