@font-face {
    font-family: Abel;
    src: url(Abel-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Abel;
}

.container {
    padding: 0 100px;
}

.error {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#login {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #f2f3f2;
}

#login form {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

#login form img {
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

#login form input {
    font-size: 20px;
    padding: 5px;
}

#login form input[type="submit"] {
    background-color: #8cc63f;
    border: 1px solid #8cc63f;
    color: #fff;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav img {
    width: 40px;
    height: 40px;
}

nav li {
    display: inline;
}

nav a { 
   text-decoration: none;
   color: #8cc63f;
   padding: 4px 8px;
   font-size: 22px;
}

nav li a:hover {
    border-bottom: 2px solid #8cc63f;
}

#add form {
    display: flex;
    flex-direction: column;
    margin: 20px auto 0;
    width: 80%;
    font-size: 19px;
    padding: 15px;
    border: 1px solid #f2f3f2;
    border-radius: 10px;
    background-color: #f2f3f2;
}

#add form select, #add form input, #add form textarea {
    font-size: 19px;
    padding: 5px;
    margin-bottom: 5px;
}

#add form #choices {
    display: flex;
    flex-direction: column;
}

#add-choice {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #DCDBDA;
    border-radius: 5px;
    margin: 4px 0 8px;
    width: max-content;
}

#add-choice img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#add form .choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add form .choice input {
    flex-grow: 1;
}


.choice img {
    margin-left: 5px;
    width: 45px;
    height: 45px;
}




#add form input[type='submit'] {
    width: 100px;
    background-color: #008000;
    color: #fff;
    border: 1px solid #008000;
    border-radius: 5px;
    margin-top: 12px;
}

#field {
    display: none;
}

#dashboard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

#dashboard .board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f2;
    border-radius: 10px;
    gap: 5px;
    width: 30%;
    height: 150px;
}

#dashboard .board a {
    text-decoration: none;
    color: #000;
    cursor: default;
}

#test .title {
    text-align: center;
    margin: 15px;
}

#test .question {
    margin-bottom: 8px;
}

#test .question .options {
    margin: 5px 0;
    background-color: #f2f3f2;
    padding: 10px;
    border-radius: 5px;
}

#test .question .options div {
    display: flex;
    align-items: center;
}

#test .question .options img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

#test .question .options p {
    font-size: 19px;
}

#test .question .btns {
    margin-top: 5px;
    display: flex;
}

#test .question .btns .btn {
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 3px;
    width: 70px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}

#test .question .btns .edit {
    margin-right: 5px;
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

#test .question .btns .edit:hover {
    background-color: #fff;
    color: #ff0000;
}

#test .question .btns .delete {
    background-color: #008000;
    border: 1px solid #008000;
}

#test .question .btns .delete:hover {
    background-color: #fff;
    color: #008000;
}

@media screen and (max-width:600px) {
    .container {
        padding: 0 10px;
    }

    #add form {
        width: 100%;
    }
}