@font-face {
    font-family: Abel;
    src: url(Abel-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Abel;
}

.container {
    padding: 0 100px;
}

#add form {
    display: flex;
    flex-direction: column;
    margin: 20px auto 0;
    width: 60%;
    font-size: 24px;
    padding: 15px;
    border: 1px solid #f2f3f2;
    border-radius: 10px;
    background-color: #f2f3f2;
}

#add form select, #add form input {
    font-size: 25px;
    padding: 5px;
    margin-bottom: 5px;
}

#add form #choices {
    display: flex;
    flex-direction: column;
}

#add form #choices img {
    margin-right: 10px;
}

#add form .choice {
    position: relative;
}

#add form .choice input {
    width: 100%;
}

#add form .choice span {
    position: absolute;
    right: 0;
    top: 0;
}

#add form input[type='submit'] {
    width: 100px;
    background-color: #008000;
    color: #fff;
    border: 1px solid #008000;
    border-radius: 5px;
    margin-top: 12px;
}

